{% extends "base.html" %}
{% block title %}
    Exams
{% endblock %}
{% block content %}

<h2>Exam List</h2>

    <a href="{{ url_for('add_exam') }}">
        Add Exam
    </a>

    <table>

        <tr>

            <th>ID</th>
            <th>Exam Name</th>
            <th>Exam Date</th>
            <th>Actions</th>

        </tr>

    {% for exam in exams %}

        <tr>

            <td>{{ exam.exam_id }}</td>
            <td>{{ exam.exam_name }}</td>
            <td>{{ exam.exam_date }}</td>

            <td>

            <a href="{{ url_for('edit_exam', id=exam.exam_id) }}">
                Edit
            </a>

            <a href="{{ url_for('delete_exam', id=exam.exam_id) }}"
                onclick="return confirm('Delete this exam?')">
                Delete
            </a>

           </td>

    </tr>

    {% endfor %}

</table>

{% endblock %}