{% extends 'base.html' %}

{% block title %}
Students
{% endblock %}

{% block content %}

<h2>Student List</h2>
<a href="{{ url_for('addstud') }}" class="btn btn-add">
    Add Student
</a>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Gender</th>
            <th>Address</th>
            <th>Birthday</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        {% for student in students %}
        <tr>
            <td>{{ student.student_id }}</td>
            <td>{{ student.name }}</td>
            <td>{{ student.email }}</td>
            <td>{{ student.mobile }}</td>
            <td>{{ student.gender }}</td>
            <td>{{ student.address }}</td>
            <td>{{ student.birthday }}</td>
            <td>
                <a href="{{ url_for('edit_student', id=student.student_id) }}" class="btn">
                    Edit
                </a>

                <a href="{{ url_for('delete_student', id=student.student_id) }}"
                    class="btn btn-delete"
                    onclick="return confirm('Delete this student?')">
                    Delete
                </a>

            </td>
        </tr>
        {% endfor %}
    </tbody>

</table>

{% endblock %}